<form action="/users" method="POST">
  <p>Informe seus dados</p>
  <p>
    <label for="name">Nome</label>
    <input type="text" name="name" id="name" />
  </p>
  <p>
    <label for="adress">Endereço</label>
    <input type="text" name="adress" id="adress" />
  </p>

  <p>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
  </p>

  <button type="submit">Gravar</button>
</form>